//variables partial
$primary-color:#3498db;
$font-family:"Roboto",sans-serif;
$base-font-size:1rem;
$s-size:$base-font-size*0.75;
$l-size:$base-font-size*1.5;
$xl-size:$base-font-size*2;
$xll-size:$base-font-size*3;

